body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  letter-spacing: 0.5px;
  padding: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

p {
  font-size: 13px; }

body{
  background: white;
  margin: 0;
}

.ribbon{
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22500%22%3E%3Crect%20x%3D%220%22%20width%3D%224%22%20height%3D%22100%25%22%20style%3D%22fill%3A%2328a1d8%22%2F%3E%3Crect%20x%3D%224%22%20width%3D%2273%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23248bc7%22%2F%3E%3Crect%20x%3D%2277%22%20width%3D%2230%22%20height%3D%22100%25%22%20style%3D%22fill%3A%231e3955%22%2F%3E%3Crect%20x%3D%22107%22%20width%3D%226%22%20height%3D%22100%25%22%20style%3D%22fill%3A%232f5132%22%2F%3E%3Crect%20x%3D%22113%22%20width%3D%2247%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23416828%22%2F%3E%3Crect%20x%3D%22160%22%20width%3D%2257%22%20height%3D%22100%25%22%20style%3D%22fill%3A%237eaa29%22%2F%3E%3Crect%20x%3D%22217%22%20width%3D%2218%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23dcbd42%22%2F%3E%3Crect%20x%3D%22235%22%20width%3D%226%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23dcad27%22%2F%3E%3Crect%20x%3D%22241%22%20width%3D%2275%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23e39a23%22%2F%3E%3Crect%20x%3D%22316%22%20width%3D%2224%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23cc554c%22%2F%3E%3Crect%20x%3D%22340%22%20width%3D%2242%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23ca473f%22%2F%3E%3Crect%20x%3D%22382%22%20width%3D%2228%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23a72834%22%2F%3E%3Crect%20x%3D%22410%22%20width%3D%2258%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23735675%22%2F%3E%3Crect%20x%3D%22468%22%20width%3D%2226%22%20height%3D%22100%25%22%20style%3D%22fill%3A%23653e66%22%2F%3E%3Crect%20x%3D%22494%22%20width%3D%226%22%20height%3D%22100%25%22%20style%3D%22fill%3A%233b315b%22%2F%3E%3C%2Fsvg%3E%0A) top left/500px 100% repeat-x !important;
  height: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}


.intro-block{
  margin-top: 75px;
  margin-bottom: 10px;
}


.grid{
  display: block;
  width: 1120px;
  margin: 0px auto;
}

.headline{
  color: #3A5161;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
}

.created_by{
  color: #879CAB;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.created_by a{
  color: #879CAB;
  font-style: italic;
  text-decoration: none;
}

.created_by a:hover{
  text-decoration: underline;
}

.instructions{
  color: #3A5161;
  font-size: 1rem;
  text-align: center;
}

.overlay{
  margin: 25px 25px;
  display: inline-block;
}

.vid-holder{
  display: block;
  height: 180px;
  width: 320px;
  overflow: hidden;
}

.iframeblocker{
  cursor: pointer;
  position: absolute;
  height: 180px;
  width: 320px;
  z-index: 1;
}

.staff-pick{
  background: url('images/vimeo_sp.svg');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
}

.vid{
  height: 450px !important;
  width: 320px !important;
}

.vid iframe{
  top: -135px !important;
}

.vjs-control-bar{
  display: none !important;
  top: 154px;
}

/*Show vjs-control-bar*/
.show{
  display: block !important;
}

.info-block{
}

.title{
  color: #3A5161;
  font-weight: 500;
  font-size: 0.9rem;
  margin: 8px 0;
  text-align: left;
}


/*Media Query for Grid*/
@media screen and (max-width: 1120px) {
  .grid{
    width: 745px;
  }
}

@media screen and (max-width: 745px) {
  .grid{
    width: 370px;
  }
}






/*OPEN OVERLAY*/
.open{
  background: rgba(22,22,22, 0.95);
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.open .close-x{
  cursor: pointer;
  display: inline-block;
  height: 14px;
  padding: 10px;
  position: fixed;
  right: 15px;
  top: 15px;
  width: 14px;
  z-index: 3;
}

.open .close-x:hover:before{
  background: white;
}

.open .close-x:hover:after{
  background: white;
}

.open .close-x:before{
  background: #999999;
  content: '';
  height: 18px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2px;
  -webkit-transform: translate( -50%, -50%) rotate(45deg);
  -moz-transform: translate( -50%, -50%) rotate(45deg);
  -ms-transform: translate( -50%, -50%) rotate(45deg);
  -o-transform: translate( -50%, -50%) rotate(45deg);
  transform: translate( -50%, -50%) rotate(45deg);
  -webkit-transition: ease-in-out .1s;
  -moz-transition: ease-in-out .1s;
  -ms-transition: ease-in-out .1s;
  -o-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

.open .close-x:after{
  background: #999999;
  content: '';
  height: 18px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2px;
  -webkit-transform: translate( -50%, -50%) rotate(-45deg);
  -moz-transform: translate( -50%, -50%) rotate(-45deg);
  -ms-transform: translate( -50%, -50%) rotate(-45deg);
  -o-transform: translate( -50%, -50%) rotate(-45deg);
  transform: translate( -50%, -50%) rotate(-45deg);
  -webkit-transition: ease-in-out .1s;
  -moz-transition: ease-in-out .1s;
  -ms-transition: ease-in-out .1s;
  -o-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
}

.open .video-block{
  pointer-events: none;
  position: relative;
  margin-top: 25%;
}

.open .video-block .video-card{
  pointer-events: all;
  position: relative;
  display: table;
  height: 0;
  width: 0;
  z-index: 101;
  background: none;
  padding: 0 70% 39.5% 0;
  margin: -18% 0 0 -35%;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  -moz-border-radius:     0;
  -ms-border-radius:      0;
  -o-border-radius:       0;
  -webkit-border-radius:  0;
  border-radius:          0;
}

.open .video-block .video-card .vid-holder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  margin: 0;
}

.open .video-block .video-card .vid-holder .vid{
  height: 100% !important;
  width: 100% !important;
}

.open .video-block .video-card .vid-holder .vid iframe{
  top: 0 !important;
}

.open .video-block .video-card .info-block{
  position: absolute;
  display: inline-block;
  height: auto;
  padding: 4px 0;
  overflow: hidden;
  z-index: 103;
  width: 70%;
  margin-bottom: 0;
  top: 100%;
  font-size: 14px;
  pointer-events: all;
  line-height: 30px;
  margin-top: -1px;
}

.open .video-block .video-card .info-block .title{
  color: white;
  font-size: 1rem;
  margin: 6px 0;
}

.open .video-block .video-card .iframeblocker{
  display: none;
}

.open .video-block .video-card .vid-holder .vid .vjs-control-bar{
  display: none !important;
}
